
*{

margin: 0;
padding: 0;
font-family: 'Kumbh Sans', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
  .blog__item {
        font-size: 2rem;
        margin: 10px;
        text-align: center;
        align-items: center;
     }
     #slow\ motion\ cleaning\ video {
    position: fixed; /* or absolute, depending on your layout needs */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Places the video behind other content */
    object-fit: cover; /* Ensures the video covers the area without distortion */
}
     .full-cover-class {
        background-color: #ffffff;
     }

.blog__items {
        padding: 5px;
        margin: 5px;
        font-size: 2rem;
        text-align: center;
        align-items: center;
     }
.navbar {
    background-image:linear-gradient(to bottom,#006400,#87CEFA, #edf4f8c6);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.contact_info_phone {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 20px;
    padding-bottom: 15px;
    border-bottom: #131313 2px solid;
}
 .Commercial_vs_Inhouse {
        width: 100%;
        height: auto;
        display: block;
        color:#ffffff;
        font-size: 3rem;
    }
.Choosing_header {
        font-size: 2rem;
        margin: 20px;
        text-align: center;
        color:#ffffff;
    }
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.title {
    background-color: #006400;
    color:#fff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.beginning {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}
.mission_statement {
    background-color: #87CEFA;
    color:#fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.Services_statement {
    background-color: #2E8B57;
    color:#ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
p {
    margin: 20px;
    font-size: 1.5rem;
    justify-content:center;
    text-align:center;
}
h3 {
    justify-content:center;
    text-align:center;
    font-size: 2rem;
}
.copyright {
    font-size: 1rem;
    text-align: left;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}
.navbar__links {
    color:#244288;
    align-items: center;
    text-decoration: none;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.1;
    display: block;

}

.navbar__btn {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    justify-content: center;
    width: 100%;
}
.logo-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
.navbar__toggle {
    display: none;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border: none;
    border-radius: 4px;
    background:linear-gradient(to right,#26701f,#87CEFA);
    color: #fff;
}
.button:hover {
    background-color: #231a5f;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #eae4e3;
    transition: all 0.3s ease;
}
#navbar__logo {
    color: #fff;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    margin-top: -41px;
    font-weight: bold;
}
h2 {
    justify-content:center;
    text-align:center;
    font-size: 2rem;
}
.services {
    list-style-type: none;
    font-size: 1.5rem;
    margin: 20px;
    padding: 0;
    text-align: center;
}
.office__painting {
   list-style-type: none;
    font-size: 1.5rem;
    margin: 20px;
    padding: 0;
    text-align: center;
}
.office__cleaning {
   list-style-type: none;
    font-size: 1.5rem;
    margin: 20px;
    padding: 0;
    text-align: center;
}
.Pricing {
   background-color: #87CEFA;
    color:#ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.bucket-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    float: left;
    margin-right: 12px;
    width: 50px;
}
.bucket__image {
  float: none;
  position:relative;
  margin: 20px auto;
  width: 100%;
  max-width: 325px;
}
.bucket__image img {
  width: 100%;
  max-width: 100%;
  padding-top: 20px;
  position: static;
  height: auto;
  pointer-events: none ;
left: auto;
    margin: 0 auto;
  
}

.contact_info {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px;
    text-align: center;

}
.contact__beginning {
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
}
.beginning_industries {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}
.industries_list {
    list-style-type: none;
    font-size: 2.5rem;
    margin: 20px;
    padding: 0;
    text-align: center;
    background-color:#87CEFA;
    color:#ffffff;
}
.industries__item {
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
    border: 4px solid #26701f;
    padding: -10px;
    list-style-type: none;
}
.beginning_Products {
    background-color: #87CEFA;
    color:#ffffff;
    font-size: 2rem;
    padding: 10px;
    padding-top: -10px;
}

.Why_Choose_Our_Products {
    background-color: #87CEFA;
    color:#ffffff;
    font-size: 4rem;
    padding: 10px;
    padding-top: -10px;
}
.Sani {
    font-size: 3rem;
    margin: 20px;
    text-align: center;
    background-color:#87CEFA;
    padding:15px;
    color: white;
}
    .img {
        max-width: 100%;
        height: auto;
    }

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1000;
        max-width: 1300px;
        width: 100%;
        padding: 0;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 40%;
        margin: 0;
        font-size: 1.5rem;
    }
   
     .contactus {
        width: 100%;
        height: auto;
        display: block;
    }
    .handshake {
        width: 100%;
        height: auto;
        display: block;
    }
    .cleaningproducts {
        width: 100%;
        height: auto;
        display: block;
    }
   
    .mountain {
        width: 100%;
        height: auto;
        display: block;
    }
    .cleaningservices {
        width: 100%;
        height: auto;
        display: block;
    }
    
    
    .navbar__menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        position: fixed;
        top: -100%;
        left: 0;
        background: #26701f;
        opacity: 0;
        transition: all 0.5s ease, opacity 0.5s ease;
        height: 100vh;
        z-index: 998;
    }
    .navbar__toggle {
    display: block;
    margin-right: 1.5rem;
    cursor: pointer;
}
.hero-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
.bucket__image {
 display: none;
}
}
/*---end of media query--*/
@media screen and (max-width: 768px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1000;
        max-width: 1300px;
        width: 100%;
        padding: 0;
    }
    .contactus {
        width: 70%;
        height: auto;
        display: block;
        
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 40%;
        margin: 0;
        font-size: 1.5rem;
    }
   
     .contactus {
        width: 100%;
        height: auto;
        display: block;
    }
    .handshake {
        width: 100%;
        height: auto;
        display: block;
    }
    .cleaningproducts {
        width: 100%;
        height: auto;
        display: block;
    }
    .mountain {
        width: 100%;
        height: auto;
        display: block;
    }
    .cleaningservices {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .navbar__menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        position: fixed;
        top: -100%;
        left: 0;
        background: #26701f;
        opacity: 0;
        transition: all 0.5s ease, opacity 0.5s ease;
        height: 100vh;
        z-index: 998;
    }
    .navbar__toggle {
    display: block;
    margin-right: 1.5rem;
    cursor: pointer;
}
.hero-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
.bucket__image {
 display: none;
}
}

.bucket__image img {
  width: 100%;

  padding-top: 20px;
  position: relative;
  height: auto;
  pointer-events: none ;
  left:-25%;
  margin: 0 auto;
}

.navbar__menu.active {
    background: #76d47b;
    top: 0;
    opacity: 1;
    z-index: 998;
    height: 80vh;
    font-size: 1.6rem;
}
.navbar__btn {
    padding-bottom: 2rem;
}
#navbar__logo {
    padding-left: 25px;
}
.navbar__toggle .bar {
    width: 25px;
    height: 3px;
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
}
.navbar__item {
    width: 100%;
}
.navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

.Contact_landingpage {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px;
    text-align: center;
    margin-right: 100px;
}
.agreement_image {
    align-items: center;
    width: 50%;
    height: 50%;
}
.contact_line{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  margin: 20px;
}
.contact_usicon{
  width: 50px;
  height: 50px;
}
    
#mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    z-index: 1000;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;

}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    
}